<!-- Divider-->
<hr class="my-4" />
<!-- Post preview-->
<div class="post-preview">
  <a href="<%= href %>">
    <h2 class="post-title"><%= title.html_safe %></h2>
    <p class="post-subtitle"><%= subtitle.html_safe %></p>
  </a>
  <p class="post-meta"><%= date.html_safe %></p>
</div>
