<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= image_path("senz.jpg") %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Евгений</h1>
          <span class="subheading">Домашняя страница</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      <div class="post-preview">
        <h2 class="post-title">Всем привет!</h2>
        <p>
          Смысл этой страницы дать немного информации обо мне, чтобы вам было проще решить стоит ли со мной сотрудничать, позвать на день рождения или пойти в поход.
        </p>
        <p class="post-meta">
          Обо мне. 10+ лет занимаюсь веб-разработкой. Есть опыт работы в небольших стартапах, крупных компаниях, участие в росте компаний с 8 до 100+ разработчкиов.
          Много опыта руководства, менторинга и найма. Внедрение инженерных практик и гибких подходов.
          В основном занимаюсь бэк-эндом, но люблю посмотреть чего там во фронте.
          <br />
          Наиболее комфортный стек:
          <br />
          Бэк-энд Ruby/Ruby on rails, немного Go, Elixir, Node.js
          <br />
          Фронт-энд React, TypeScript
          <br />
          Базы данных Postgresql, Redis, ElasticSearch
          <br />
          Инфраструктура Docker, k8s, AWS
          <br />
          Процессы CI/CD, Extreme programming
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      <!-- Post preview-->
      <div class="post-preview">
        <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
        <p class="post-meta">
          Posted by
          <a href="#!">Start Bootstrap</a>
          on September 18, 2023
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      <!-- Post preview-->
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">Science has not yet mastered prophecy</h2>
          <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#!">Start Bootstrap</a>
          on August 24, 2023
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      <!-- Post preview-->
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">Failure is not an option</h2>
          <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#!">Start Bootstrap</a>
          on July 8, 2023
        </p>
      </div>
    </div>
  </div>
</div>
