<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= image_path("senz.jpg") %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Евгений Сендзюк</h1>
          <span class="subheading">Домашняя страница</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <%= render partial: 'web/welcome/topic', locals: {
        href: '/motions',
        title: 'Полезная и не очень литература',
        subtitle: 'Состовляя план на чтение, заметил, что с ходу могу сформулировать досадно
                   мало идей или откровений, из уже прочитнанных книг. Книги, прочитанные более пяти лет назад,
                   отзываются в голове обычно только по названию. Попробую вести список и записывать основные мысли.',
        date: '8 февраля 2018'
      }
      %>
    </div>
  </div>
</div>
