<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= image_path("motions.jpg") %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Рекомендую</h1>
          <span class="subheading">Что почитать или нет</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="navbar-nav ms-auto">
          <li>Технологии
            <ul>
              <li><a href="#high-load">Высоконагруженные приложения: Программирование, масштабирование, поддержка. Мартин Клеппман</a></li>
              <li><a href="#sass-variables">Sass variables</a></li>
              <li><a href="#sass-mixins">Sass mixins</a></li>
              <li><a href="#sass-loop">Sass loop</a></li>
            </ul>
          </li>
          <li><a href="#custom-content">Менеджмент</a></li>
          <li><a href="#css">Продуктивность</a>
            <ul>
              <li><a href="#variables">Variables</a></li>
              <li><a href="#sass-variables">Sass variables</a></li>
              <li><a href="#sass-mixins">Sass mixins</a></li>
              <li><a href="#sass-loop">Sass loop</a></li>
            </ul>
          </li>
        </ul>

        <div class="post-preview" id="high-load">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= image_path("books/high-load.png") %>" class="img-fluid rounded-start" alt="high-load">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Высоконагруженные приложения: Программирование, масштабирование, поддержка. Мартин Клеппман</h5>
                  <p class="card-text">Одна из любимых книг.</p>

                  <ul class="list-inline">
                    Рейтинг
                    <li class="list-inline-item">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </li>
                  </ul>

                  <ul class="list-inline">
                    Сложность
                    <li class="list-inline-item">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </li>
                  </ul>


                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</main>

