<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= image_path("motions.jpg") %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Рекомендую</h1>
          <span class="subheading">Что почитать или нет</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-preview">
          <h2 class="post-title">Отказ от ответственности</h2>
          <p>
            Книги отсортированы в произвольном порядке, мнение сугубо субъективное. Скорее всего изменится после очередного прочтения. Список сформирован случайно, только из тех книг, которые попались под руку и как-то откликнулись в голове. Список будет уточняться и расширяться)
          </p>
          <p class="post-meta">
            На самом деле составлял для себя. Многие книги стоит прочесть еще раз, интересно как изменится отношение к ним и что удастся почерпнуть в следующий раз.
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />


        <ul class="navbar-nav ms-auto">
          <li>Техническая литература
            <ul>
              <li>Разработка
                <ul>
                  <li><a href="#high-load">Высоконагруженные приложения. Мартин Клеппман</a></li>
                  <li><a href="#fauler_js_refactoring">Рефакторинг кода на JavaScript. М. Фаулер</a></li>
                  <li><a href="#clean_code">Чистый код, Р.Мартин</a></li>
                  <li><a href="#awesome_code">Cовершенный код, Макконнелл</a></li>
                  <li><a href="#clean_architecture">Чистая архитектура, Р.Мартин</a></li>
                  <li><a href="#ddd"></a>Domain Driven Design DDD, Эванс</li>
                  <li><a href="#fauler_architecture">Проектирование корпоративного ПО, Фаулер</a></li>
                  <li><a href="#scalability_rules">Scalability Rules</a></li>
                  <li><a href="https://12factor.net/" target="_blank">https://12factor.net/</a></li>
                  <li><a href="#designing_distributed_systems">Designing Distributed Systems</a></li>
                  <li><a href="#building_evolutionary_architectures">Building Evolutionary Architecture</a></li>
                  <li><a href="#microserices">Создание микросервисов, Сэм Ньюмен</a></li>
                  <li><a href="#state_machine">Автоматное программирование</a></li>
                </ul>
              </li>
              <li>Основы
                <ul>
                  <li><a href="#crack_alg">Грокаем алгоритмы</a></li>
                  <li><a href="#code">Код, Чарльз Петцольд</a></li>
                  <li><a href="#alg_long">Алгоритмы построение и анализ</a></li>
                  <li><a href="#sicp">СИКП</a></li>
                  <li><a href="#nets">Компьютерные сети, С. Таненбаум</a></li>
                  <li><a href="#cs_min">Теоретический минимум по Computer Science</a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </li>
              <li>Вдохновение
                <ul>
                  <li><a href="#ideal_programmer">Идеальный программист, Мартин</a></li>
                  <li><a href="#move_mount">Как сдвинуть гору Фудзи</a></li>
                  <li><a href="#system_design_interview">System Design Interview</a></li>
                  <li><a href="#spolsk">Спольски о программировании</a></li>
                  <li><a href="#spolsk_again">Спольски снова о программировании</a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </li>





              <li>Хранилища данных
                <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#sass-variables">Документация к PostgreSQL от Postgres Professional</a></li>
                  Основы технологий баз данных(Postgres)
                  7 баз данных за семь недель
                </ul>
              </li>
              <li>Языки
                <ul>
                  <li><a href="#sass-variables">Документация к PostgreSQL от Postgres Professional</a></li>
                  Phoenix programming
                  Elixir in Action
                  Язык программирования Go. Алан А. А. Донован, Брайан У. Керниган
                  Изучаем TypeScript 3. Н. Розенталс
                  Ruby. Объектно-ориентированное проектирование. Сэнди Метц
                  7 моделей конкуренции и параллелизма  (2015)
                  6_Ruby Under a Microscope_ An Illustrated Guide to Ruby Internals [Shaughnessy 2013-11-22]
                  7 языков за семь недель  2017
                  Eloquent Ruby - Olson (Addison Wesley 2011)
                </ul>
                learn.javascript.ru
                  01, 02, 03
              </li>
              painless-rails
              Операционные системы
                UNIX для систеного администратора
                Современные операционные системы
                UNIX профессиональное программирование
            </ul>
          </li>
          <li><a href="#custom-content">Управление и культура</a></li>
          http://agilemanifesto.org/iso/ru/principles.html
          Getting Real 37 signals
          Пять пороков команды
          Как управлять интеллектуаллами
          Дилема Инноватора
          мифический человеко месяц
          <li><a href="#css">Продуктивность</a>
            The Passionate Programmer
            Думай медлено решай быстро Даниэль Канеман
            <ul>
              <li><a href="#variables">Variables</a></li>
            </ul>
          </li>

          Инвестирование
            Арсагера заметки инвестиции
            Разумный инвестор Бэнджамин
            Безон рынок ценных бумаг
        </ul>
        <%= render partial: 'post', locals: {
          image: "books/high-load.png",
          anchor: "#high-load",
          title: "Высоконагруженные приложения: Программирование, масштабирование, поддержка. Мартин Клеппман",
          text: "",
          rating: 5,
          hard: 3,
        } %>
      </div>
    </div>
  </div>
</main>

